@charset "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: green;
}

form{
	padding-top: 100px;
	padding-left: 400px;
}
body{
	background-image: url("images/bgImage.jpg");
	background-size:cover;
	margin:0px;
	width:100%;
	height:660px;
	
	background-repeat: no-repeat";	
}
img{
	opacity: 0.5
}

